<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/article.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo:$SYSINFO['templates'];/}/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/jquery.slides.js"></script>
</head>
<body>
<div id="wrapper">
   {inc: require("shop/index_header.php");/}

  <div id="contents" class="clearfix" >
  <div class="content-news-box">
    <div class="title">
      <a href="#newest"><h2 class="active">最新资讯</h2></a>
      <a href="#travel"><h2>旅游资讯</h2></a>
      <a href="#media"><h2>媒体关注</h2></a>
      <a href="#know"><h2>游资先知</h2></a>
    </div>
    <div class="content" id="newest">
      <div class="column-3">
        <div class="content-news-list">
          <h3>最新资讯</h3>
          <ul>
            {sta:foreach($latestNews_result['result'] as $val)[loop]}
            <li>
              <a href="{echo:article_url($val['article_id']);/}"><font style="color:{echo: $val['tag_color'];/} ">{echo: $val['title'];/}</font></a></li>
            {end:foreach/}
          </ul>
        </div>
      </div>
      <div class="column-7">
         <div id="slides">
          {sta:foreach($latestNews_result['result'] as $val)[loop]}
          {sta:if($val['thumb'] != '')[exc]}
          <img src="{echo:$val['thumb'];/}">
          {end:if/}
          {end:foreach/}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="content"  style="display:none;" id="travel">
      test2
    </div>
    <div class="content"  style="display:none;" id="media">
      test3
    </div>
    <div class="content"  style="display:none;" id="know">
      test4
    </div>
  </div>
  <div class="column-3">
    <div class="content-common-box content-left-middle-box content-siver">
      <div class="title"><h2>节庆活动</h2><span><a href="news_list.php?id=20">更多&gt;&gt;</a></span></div>
      <div class="content">
        <ul>
          {sta:foreach($holiday_result['result'] as $val)[loop]}
            {sta:if($val['thumb'] != '')[exc]}
            <li>
              <a href="{echo:article_url($val['article_id']);/}">
              <img src="{echo:$val['thumb'];/}" alt="" />
              <div class="inner">
                <h3><font style="color:{echo: $val['tag_color'];/} ">{echo:$val['title'];/}</font></h3>
                <p>
                  {echo:sub_str($val['content'], 80);/}
                </p>
              </div>
              </a></li>
              {end:if/}
            {end:foreach/}
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="content-common-box content-left-middle-box content-siver">
      <div class="title">
        <h2>桂林线路</h2>
        <span><a href="news_list.php?id=14">更多&gt;&gt;</a></span>
      </div>
       {sta: foreach($line_result['result'] as $v)[loop]}
       {sta:if($v['thumb'] != '')[exc]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: article_url($v['article_id']);/}"><img src="{echo:$v['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: article_url($v['article_id']);/}"><h3>{echo:sub_str($v['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['content']), 80);/}
            </p>
          </div>
        </div>
        {end:if/}
        {end:foreach/}
    </div>
  </div>
  <div class="column-7">
    <div class="content-common-box">
      <div class="title"><h2>桂林景点</h2><span><a href="news_list.php?id=12">更多&gt;&gt;</a></span></div>
      {sta: foreach($scenic_result['result'] as $v)[loop]}
       {sta:if($v['thumb'] != '')[exc]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: article_url($v['article_id']);/}"><img src="{echo:$v['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: article_url($v['article_id']);/}"><h3>{echo:sub_str($v['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['content']), 80);/}
            </p>
          </div>
        </div>
        {end:if/}
        {end:foreach/}
    </div>
    <div class="content-common-box">
      <div class="title"><h2>桂林酒店</h2><span><a href="news_list.php?id=13">更多&gt;&gt;</a></span></div>
      {sta: foreach($hotel_result['result'] as $v)[loop]}
       {sta:if($v['thumb'] != '')[exc]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: article_url($v['article_id']);/}"><img src="{echo:$v['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: article_url($v['article_id']);/}"><h3>{echo:sub_str($v['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['content']), 80);/}
            </p>
          </div>
        </div>
        {end:if/}
        {end:foreach/}
    </div>
    <div class="content-common-box">
      <div class="title"><h2>桂林美食</h2><span><a href="news_list.php?id=15">更多&gt;&gt;</a></span></div>
      {sta: foreach($food_result['result'] as $v)[loop]}
       {sta:if($v['thumb'] != '')[exc]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: article_url($v['article_id']);/}"><img src="{echo:$v['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: article_url($v['article_id']);/}"><h3>{echo:sub_str($v['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['content']), 80);/}
            </p>
          </div>
        </div>
        {end:if/}
        {end:foreach/}
    </div>
    <div class="content-common-box">
      <div class="title"><h2>桂林特产|购在桂林</h2><span><a href="news_list.php?id=17">更多&gt;&gt;</a></span></div>
      {sta: foreach($techan_result['result'] as $v)[loop]}
       {sta:if($v['thumb'] != '')[exc]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: article_url($v['article_id']);/}"><img src="{echo:$v['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: article_url($v['article_id']);/}"><h3>{echo:sub_str($v['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['content']), 80);/}
            </p>
          </div>
        </div>
        {end:if/}
        {end:foreach/}
    </div>
  </div>
</div>
<!-- main end -->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
 <style>
    /* Prevents slides from flashing */
    #slides {
      display:none;
    }
    .slidesjs-navigation{display:none}
    .slidesjs-pagination{display:none}
  </style>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(function(){
      $("#slides").slidesjs({
        width: 660,
        height: 200,
        play: {
          active: false,
          auto: true,
          interval: 4000,
          swap: true
        },
        navigation: {
          active: false,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        },
        pagination: {
          active: false
        }
      });
    });

$(document).ready(function(){

  $('div.content-news-box div.title a').click(function(){
    return false;
  });
  $('div.content-news-box div.title a h2').hover(function(){
    /*
      $('div.content-news-box div.title a h2').removeClass('active');
      $(this).addClass('active');
      var targetDiv = $(this).parent('a').attr('href');
      $('div.content-news-box div.content').hide();
      $(targetDiv).show();
      */
    },function(){

    });
});
</script>
</body>
</html>
