<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/article.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo:$SYSINFO['templates'];/}/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/jquery.slides.js"></script>
<script type='text/javascript' src='servtools/date/WdatePicker.js'></script>
</head>
<body>
<div id="wrapper">
   {inc: require("shop/index_header.php");/}
      <div class="content-common-box">
        <div class="title">
          <h2>机票预订</h2>
        </div>
        <div class="content" style="height:70px;">
              <script type="text/javascript">
        function inputTxt2(obj,act, initVal){
          var str = initVal;
          if(obj.value==''&&act=='set')
          {
            obj.value=str;
            obj.style.color="#cccccc"
          }
          if(obj.value==str&&act=='clean')
          {
            obj.value='';
            obj.style.color="#000000"
          }
        }
        </script>
            <form class="pretty-form ticket-form" method="POST" action="ticket.php" onsubmit="return checkTicketForm(this);">
              
              <div class="column-1">
                <div class="radio-group">
                  <input type="radio" name="SearchType" value="S" id="singleRadio" checked/>
                  <label for="singleRadio">单程</label>
                </div>

                <div class="radio-group">
                  <input type="radio" name="SearchType" value="D" id="doubleRadio"/>
                  <label for="doubleRadio">双程</label>
                </div>
              </div>
              <div class="column-3">
                <div class="column-2">
                  <label for="none">城市：</label>
                </div>
                <div class="column-8">
                  <input class="column-10 cityinput" style="background-position:200px 3px;" id="startCity" type="text" name="DepartCity" onblur="inputTxt2(this,'set', '请输入城市名称');" onfocus="inputTxt2(this,'clean', '请输入城市名称');" style="color:#cccccc;" value="请输入城市名称" >
                  <input class="column-10 cityinput" id="endCity"  style="background-position:200px 3px;"  type="text" name="ArriveCity" value="桂林" readonly/>
                </div>
              </div>
              <div class="column-1" style="height:1px;width:5%;"></div>
              <div class="column-3">
                <div class="column-2">
                  <label for="none">日期：</label>
                </div>
                <div class="column-8">
                  <input class="column-10" type="text" name="DepartDate" onblur="inputTxt2(this,'set', '请选择出发日期');"  onFocus="WdatePicker({isShowClear:false,readOnly:true});inputTxt2(this,'clean', '请选择出发日期');" style="color:#cccccc;" value="请选择出发日期" />
                  <input class="column-10" type="text" name="ArriveDate" onblur="inputTxt2(this,'set', '请选择回程日期');" onFocus="WdatePicker({isShowClear:false,readOnly:true});inputTxt2(this,'clean', '请选择回程日期');" style="color:#cccccc;" value="请选择回程日期" />
                </div>
              </div>
              <div class="column-2">
                <input style="width:70px" type="submit" class="common-button"  value="搜索"/>
              </div>
              <script type="text/javascript">
              var startCity = new Vcity.CitySelector({input:'startCity'});
              </script>
            </form>
        </div>
      </div>
      <div class="content-common-box content-orange">
        <div class="title">
          <h2>会议预订</h2>
          <span><a href="category.php?id=436">更多&gt;&gt;</a></span>
        </div>
         {sta: foreach($goods_meeting as $v)[loop]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: goods_url($v['goods_id']);/}"><img src="{echo:$v['goods_thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: goods_url($v['goods_id']);/}"><h3>{echo:sub_str($v['goods_name'], 30);/}<span class="stars">✮</span></h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['goods_intro']), 40);/}
            </p>
            <span class="price">￥{echo:$v['goods_price'];/}</span>
          </div>
        </div>
        {end:foreach/}
      </div>
      
      <div class="content-common-box content-blue">
        <div class="title">
          <h2>景点预订</h2>
          <span><a href="category.php?id=434">更多&gt;&gt;</a></span>

        </div>
         {sta: foreach($goods_scenic as $v)[loop]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: goods_url($v['goods_id']);/}"><img src="{echo:$v['goods_thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: goods_url($v['goods_id']);/}"><h3>{echo:sub_str($v['goods_name'], 30);/}<span class="stars">✮</span></h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['goods_intro']), 40);/}
            </p>
            <span class="price">￥{echo:$v['goods_price'];/}</span>
          </div>
        </div>
        {end:foreach/}
      </div>

      <div class="content-common-box content-orange">
        <div class="title">
          <h2>酒店预订</h2>
          <span><a href="category.php?id=433">更多&gt;&gt;</a></span>

        </div>
        {sta: foreach($goods_hotel as $v)[loop]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: goods_url($v['goods_id']);/}"><img src="{echo:$v['goods_thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: goods_url($v['goods_id']);/}"><h3>{echo:sub_str($v['goods_name'], 30);/}<span class="stars">✮</span></h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['goods_intro']), 40);/}
            </p>
            <span class="price">￥{echo:$v['goods_price'];/}</span>
          </div>
        </div>
        {end:foreach/}
      </div>

      <div class="content-common-box content-blue">
        <div class="title">
          <h2>线路预订</h2>
          <span><a href="category.php?id=435">更多&gt;&gt;</a></span>

        </div>
       {sta: foreach($goods_line as $v)[loop]}
         <div class="item-box" style="margin-left:0px;">
          <div class="images">
            <a href="{echo: goods_url($v['goods_id']);/}"><img src="{echo:$v['goods_thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo: goods_url($v['goods_id']);/}"><h3>{echo:sub_str($v['goods_name'], 30);/}<span class="stars">✮</span></h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($v['goods_intro']), 40);/}
            </p>
            <span class="price">￥{echo:$v['goods_price'];/}</span>
          </div>
        </div>
        {end:foreach/}
      </div>
  
</div>
<!-- main end -->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
 <style>
    /* Prevents slides from flashing */
    #slides {
      display:none;
    }
    .slidesjs-navigation{display:none}
    .slidesjs-pagination{display:none}
  </style>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(function(){
      $("#slides").slidesjs({
        width: 660,
        height: 200,
        play: {
          active: false,
          auto: true,
          interval: 4000,
          swap: true
        },
        navigation: {
          active: false,
            // [boolean] Generates next and previous buttons.
            // You can set to false and use your own buttons.
            // User defined buttons must have the following:
            // previous button: class="slidesjs-previous slidesjs-navigation"
            // next button: class="slidesjs-next slidesjs-navigation"
          effect: "slide"
            // [string] Can be either "slide" or "fade".
        },
        pagination: {
          active: false
        }
      });
    });

$(document).ready(function(){

  $('div.content-news-box div.title a').click(function(){
    return false;
  });
  $('div.content-news-box div.title a h2').hover(function(){
    /*
      $('div.content-news-box div.title a h2').removeClass('active');
      $(this).addClass('active');
      var targetDiv = $(this).parent('a').attr('href');
      $('div.content-news-box div.content').hide();
      $(targetDiv).show();
      */
    },function(){

    });
});
</script>
</body>
</html>
