<!-- 头部菜单 -->
<div id="header" class="clearfix">
    <div class="site_nav clearfix">
      <p class="login_info"><span>{echo: lp{i_welcome};/}{echo:$SYSINFO['sys_name'];/}!</span>{sta: if($USER['login'])[exc]}{echo: lp{i_hi};/}! {echo: $USER['user_name'];/} <a href="do.php?act=logout">{echo: lp{i_logout};/}</a>{sta:} else [exc]}<a href="login.php">{echo:lp{i_login};/}</a>&nbsp;|&nbsp;<a href="modules.php?app=reg">{echo:lp{i_register_free};/}</a>{end:if/}</p>
      <p class="quick_menu">
        <a href="index.php">{echo:lp{i_shop_index};/}</a><a href="modules.php">{echo:lp{i_u_center};/}</a>
        <a class="shop_cart" href="modules.php?app=user_cart">{echo:lp{i_cart};/}</a>
        <a href="modules.php?app=user_favorite">{echo:lp{i_favorite};/}</a>
      </p>
    </div>
    <div class="topMain clearfix">
      <h1 id="logo">
  		{sta: if($SYSINFO['sys_logo'])[exc]}
			<a href="index.php">
				<img src="{echo:$SYSINFO['sys_logo'];/}" title="{echo:$SYSINFO['sys_name'];/}" style="float:left;width:209px; height:43px;" onerror="this.src='skin/default/images/nopic.gif'"/>
			</a>
  		{sta:}else [exc]}
  			<a href="index.php"><img src="skin/{echo: $SYSINFO['templates'];/}/images/logo.png" title="" alt="{echo:$SYSINFO['sys_name'];/}" /></a>
  		{sta:if/}
      </h1>
      <form action="search.php" method="POST" id="search_form" >
      <div class="search_panel">
    	<p class="search_sel" onclick="setShow('sel_content');setOnShowPara('sel_content');">
			{sta: if($search_header_type == lp{i_s_company})[exc]}
				<input class="sel_value" id="sel_value" value="{echo:lp{i_s_company};/}" name="search_type" type="text" />
  			{sta:}else [exc]}
    			<input class="sel_value" id="sel_value" value="{echo:lp{i_goods_search};/}" name="search_type" type="text" />
			{sta:if/}
    	</p>
    	{sta:if(!$ksearch)[exc]}
        <p class="search_txt"><input name="k" type="text" onblur="inputTxt(this,'set');" onfocus="inputTxt(this,'clean');" value="{echo:lp{i_search_keyword};/}" /></p>
       {sta:}else[exc]}
       <p class="search_txt"><input name="k" type="text" onblur="inputTxt(this,'set');" onfocus="inputTxt(this,'clean');" style="color:#000000;"; value="{echo:$ksearch;/}" /></p>
       {sta:if/}
       
        <p class=""><input type="submit" value="搜索" class="search-button"/></p>
        <p class="hot_keywords">热门关键词：
          {sta:foreach($keyword_result as $keyword)[loop]}
          <a href="search.php?k={echo:$keyword['keywords'];/}">{echo:$keyword['keywords'];/}</a>
          {end:foreach/}</p>
        <div id="sel_content" class="sel_list" style="display:none">
        	<ul><li onclick="document.getElementById('sel_value').value = this.innerHTML" onmouseover="this.className = 'li_hover'" onmouseout="this.className = ''">{echo:lp{i_goods_search};/}</li><li onclick="document.getElementById('sel_value').value = this.innerHTML" onmouseover="this.className = 'li_hover'" onmouseout="this.className = ''">{echo:lp{i_s_company};/}</li></ul>
        </div>
      </div>
     
      </form>
       <div class="weather_panel clearfix">
        <div class="weather_content">
          <span class="weather_icon">
            <img src="" />
          小雨 13℃~9℃</span>
          <p style="text-align:center;">北风小于三级</p>
        </div>
        <div class="contact_content">
          
        </div>
        
      </div>
    </div>
</div>

<input type="text" name="sel_content_c" id="sel_content_c" size="0" onblur="javascript:timerSetHidden('sel_content',200);" style="top:-100px;position:absolute;width:1px;height:1px;border:0px;background-color:transparent;" value="1">

<div class="header-nav">
  <ul class="nav-list">
    <li><a href="index.php">首页</a></li>
    <li class="sep"></li>
    <li><a href="article_index.php">资讯全览</a>
      <div class="cui_subnav_wrap">
        <div class="cui_sub_nav"><a href="news_list.php?id=11" title="最新资讯">最新资讯</a>|<a href="news_list.php?id=12" title="桂林景点">桂林景点</a>|<a href="news_list.php?id=13" title="桂林酒店">桂林酒店</a>|<a href="news_list.php?id=14" title="桂林线路">桂林线路</a>|<a href="news_list.php?id=16" title="桂林交通">桂林交通</a>|<a href="news_list.php?id=15" title="桂林美食">桂林美食</a>|<a href="news_list.php?id=17" title="桂林特产">桂林特产</a>|<a href="news_list.php?id=18" title="购在桂林">购在桂林</a>|<a href="news_list.php?id=19" title="夜美桂林">夜美桂林</a>|<a href="news_list.php?id=20" title="节庆活动">节庆活动</a></div>

      </div>
    </li>
    <li class="sep"></li>
    <li><a href="goods_index.php">无忧预订</a>
        <div class="cui_subnav_wrap"><div class="cui_sub_nav"><a href="category.php?id=434" title="国内酒店">景点预订</a>|<a href="ticket.php" title="海外酒店">机票预订</a>|<a href="category.php?id=433" title="惠选酒店">酒店预订</a>|<a href="category.php?id=435" title="机+酒">线路预订</a>|<a href="category.php?id=436" title="团购">商务会议</a></div>
      </div>
    </li>
    <li class="sep"></li>
    <li><a href="promote_index.php">特惠专区</a>
      <div class="cui_subnav_wrap"><div class="cui_sub_nav"><a href="category.php?id=437" title="旅游卡特惠">旅游卡特惠</a>|<a href="groupbuy.php" title="团购乐翻天">团购乐翻天</a>|<a href="category.php?id=438" title="秒杀超值购">秒杀超值购</a>|<a href="news_list.php?id=26" title="优惠全掌握">优惠全掌握</a></div>
      </div>
    </li>
    <li class="sep"></li>
    <li><a href="share_index.php">分享乐园</a>
      <div class="cui_subnav_wrap"><div class="cui_sub_nav"><a href="news_list.php?id=21" title="攻略分享">攻略分享</a>|<a href="news_list.php?id=22" title="美图分享">美图分享</a>|<a href="news_list.php?id=23" title="微博分享">微博分享</a>|<a href="news_list.php?id=24" title="桂林大向导">桂林大向导</a>|<a href="news_list.php?id=25" title="评价汇总">评价汇总</a></div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript" src="skin/{echo:$SYSINFO['templates'];/}/js/common.js"></script>