<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/parts.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/article.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo:$SYSINFO['templates'];/}/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
</head>
<body>
<div id="wrapper">
   {inc: require("shop/index_header.php");/}

  <div id="contents" class="clearfix" >
  {sta:if($cat_id == 12)[exc]}
    <div class="filters">
      
    </div>
    <div class="content-common-box">
      {sta:if($result['result'])[exc]}
      {sta:foreach($result['result'] as $val)[loop]}
      <div class="item-box">
          <div class="images">
            <a href="{echo:article_url($val['article_id']);/}"><img src="{echo:$val['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo:article_url($val['article_id']);/}"><h3>{echo:sub_str($val['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($val['content']), 120);/}
            </p>
          </div>
        </div>
      {end:foreach/}
      {end:if/}
      </div>
    </div>
  {end:}else{ ;/}
  <!-- @TODO 完善搜索功能 -->
  <div class="SubCategoryBox filters">
      <h3>资讯-新闻搜索</h3>
      <form method="get">
        <input type="hidden" name="id" value="{echo:$cat_id;/}">
        <input type="text" name="keyword" value="" placeholder="请输入搜索关键词"> 
        <select name="in">
          <option value="title">标题</option>
          <option value="content">内容</option>
          <option value="both">标题和内容</option>
        </select>
        <input type="submit" value="搜索"/>
      </form>
  </div>
  <div class="content-common-box">
    <div class="title"><h2>{echo:$cat_name;/}<h2></div>
    <div class="content-news-box">
      <ul class="artlist_txt" >
        {sta:if($result['result'])[exc]}
        {sta:foreach($result['result'] as $val)[loop]}
            <li class="clearfix"><span class="right">{echo: $val['add_time'];/}</span>
            <a href="{echo:article_list_url($val['cat_id']);/}">[{echo:$cat_name;/}]</a>
            <a class="ttls" href="{echo:article_url($val['article_id']);/}"><font style="color:{echo: $val['tag_color'];/} ">{echo: $val['title'];/}</font></a></li>
        {end:foreach/}
        {end:}else{ ;/}
        {echo:lp{i_none_articles};/}
        {end:if/}
        </ul>
    </div>
  </div>
  {end:if/}

</div>
<!-- main end -->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
</body>
</html>
