<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{echo: $header['title'];/}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{echo: $header['keywords'];/}" />
<meta name="description" content="{echo: $header['description'];/}" />
<base href="{echo: $baseUrl;/}" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/index.css" rel="stylesheet" type="text/css" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/import.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/parts.css" type="text/css" rel="stylesheet" />
<link href="skin/{echo: $SYSINFO['templates'];/}/css/article.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="skin/{echo:$SYSINFO['templates'];/}/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/changeStyle.js"></script>
    {sta:if($cat_name == '攻略分享' || $cat_name == '攻略')[exc]}
    <script type="text/javascript" src="skin/{echo: $SYSINFO['templates'];/}/js/jquery.slides.js"></script>
    {end:if/}
</head>
<body>
<div id="wrapper">
   {inc: require("shop/index_header.php");/}

  <div id="contents" class="clearfix" >
  {sta:if($cat_id == 12)[exc]}
    <div class="filters">
      
    </div>
    <div class="content-common-box">
      {sta:if($result['result'])[exc]}
      {sta:foreach($result['result'] as $val)[loop]}
      <div class="item-box">
          <div class="images">
            <a href="{echo:article_url($val['article_id']);/}"><img src="{echo:$val['thumb'];/}" /></a>
          </div>
          <div class="description">
            <a href="{echo:article_url($val['article_id']);/}"><h3>{echo:sub_str($val['title'], 40);/}</h3></a>
            <p class="intro">
              {echo:sub_str(strip_tags($val['content']), 120);/}
            </p>
          </div>
        </div>
      {end:foreach/}
      {end:if/}
      </div>
    </div>
  {end:}else{ ;/}
  <div id="leftColumn">
    <div class="SubCategoryBox filters">
        <h3>资讯-新闻搜索</h3>
        <ul>
            {sta: foreach($attr_info as $key => $value)[loop]}
            <li>
                <span>{echo: $value['attr_name'];/}:</span>
                {sta:if(get_args('attr'.$value['attr_id'])) [exc]}
                <a href={echo:preg_replace("/&attr".$value['attr_id']."=([^&]+)/","",$url_this);/}>{echo:lp{i_all};/}</a>
                {sta:}else[exc]}
                <font class="active">{echo:lp{i_all};/}</font>
                {end:if/}
                {sta: foreach($value['attr_values'] as $k => $v)[loop]}
                {sta:if(get_args('attr'.$value['attr_id'])) [exc]}
                {sta:$url = preg_replace("/attr".$value['attr_id']."=([^&]+)/","attr".$value['attr_id']."=".urlencode($v),$url_this);/}
                {sta:}else [exc]}
                {sta:$url = $url_this."&attr".$value['attr_id']."=".urlencode($v);/}
                {end:if/}
                {sta:if(get_args('attr'.$value['attr_id'])==$v) [exc]}
                <a class="active" >{echo: $v;/}</a>
                {sta:}else[exc]}
                <a title="{echo: $v;/}" href="{echo:$url;/}">{echo: $v;/}</a>
                {end:if/}
                {end:foreach/}
            </li>
            {end:foreach/}
        </ul>
        <form method="get">
          <input type="hidden" name="id" value="{echo:$cat_id;/}">
          <input type="text" name="keyword" value="" placeholder="请输入搜索关键词"> 
          <select name="in">
            <option value="title">标题</option>
            <option value="content">内容</option>
            <option value="both">标题和内容</option>
          </select>
          <input type="submit" value="搜索"/>
        </form>
    </div>

    <div class="content-common-box">
      <div class="title"><h2>{echo:$cat_name;/}<h2></div>
      <div id="listItems" class="c_m" style="position:relative">
        <ul class="list_view">
          {sta:if($result['result'])[exc]}
          {sta:foreach($result['result'] as $val)[loop]}
              <li class="clearfix">
                    <div class="photo"><a target="_blank" href="{echo:article_url($val['article_id']);/}"><img onmouseout="hidebox({echo:$val['article_id'];/})" onmouseover="showbox({echo:$val['article_id'];/})" src="{echo: $val['thumb'] ? $val['thumb'] : 'skin/default/images/nopic.gif';/}"  width="{echo:$SYSINFO['width1'];/}" height="{echo:$SYSINFO['height1'];/}"  onerror="this.src='skin/default/images/nopic.gif'" /></a></div>
                    <div>
                    <span class="right">{echo: $val['add_time'];/}</span>
                    <a href="{echo:article_list_url($val['cat_id']);/}">[{echo:$cat_name;/}]</a>
                    <a class="ttls" href="{echo:article_url($val['article_id']);/}"><font style="color:{echo: $val['tag_color'];/} ">{echo: $val['title'];/}</font></a>
                    <p class="des"><br>[{echo:lp{i_description};/}]{echo: sub_str(strip_tags($val['content']),80);/}</p>
                    </div>
                    <div style="display: none;" id="showbox_{echo:$val['article_id'];/}" class="showbox">
                            <div class="subbox"><img id="showimg_{echo:$val['article_id'];/}" src="{echo: $val['thumb'] ? $val['thumb'] : 'skin/default/images/nopic.gif';/}" width="234" height="234" alt="{echo:lp{i_loading_img};/}"   onerror="this.src='skin/default/images/nopic.gif'"/></div>
                    </div>
              </li>
          {end:foreach/}
          {end:}else{ ;/}
          {echo:lp{i_none_articles};/}
          {end:if/}
          </ul>
      </div>
    </div>
  </div>
  <div id="rightColumn">
     {sta:if($cat_name == '攻略分享' || $cat_name == '攻略')[exc]}
      <div class="tagSet bg_gary mg12b content-common-box content-right-middle-box">
          <div class="title">
              <h2>图片</h2>
          </div>
          <div id="slides">

              {sta:if($result['result'])[exc]}
                  {sta:foreach($result['result'] as $val)[loop]}
                  {sta:if($val['thumb'] != '')[exc]}
                  <a href="article.php?id={echo:$val['article_id'];/}"><img src="{echo:$val['thumb'];/}"></a>
                  {end:if/}
                  {end:foreach/}
              {end:if/}
          </div>
      </div>
      {end:if/}
    <!-- @TODO 判断是否存在子分类，如果存在，则展示 -->
    <div class="tagSet bg_gary mg12b content-common-box content-right-middle-box">
        <div class="title">
          <h2>子分类</h2>
        </div>
        <div class="tags">
            <ul class="artlist_txt" >
            {sta:if($cat_dg)[exc]}
            {sta:foreach($cat_dg as $val)[loop]}
                <li class="clearfix">
                <a class="ttls" href="{echo:article_list_url($val['cat_id']);/}">{echo: $val['cat_name'];/}</a></li>
            {end:foreach/}
            {end:}else{ ;/}
            {echo:lp{i_none_child_cat};/}
            {end:if/}
            </ul>
        </div>
     </div>
     <!-- 本分类下热门资讯 -->
     <div class="tagSet bg_gary mg12b content-common-box content-right-middle-box news-box">
        <div class="title">
          <h2>热门资讯</h2>
        </div>
        <ul>
            {sta:foreach($hot_news as $v)[loop]}

          <li>
            <a href="article.php?id={echo:$v['article_id'];/}">{echo:sub_str($v['title'], 40);/}</a>
          </li>
            {end:foreach/}
        </ul>
     </div>
  </div>
  {end:if/}

</div>
<!-- main end -->
{inc: require("shop/index_footer.php");/}
<!--footer end-->
</div>
</body>
</html>
<script language="JavaScript" src="servtools/ajax_client/ajax.js"></script>
{sta:if($cat_name == '攻略分享' || $cat_name == '攻略')[exc]}
<style>
    /* Prevents slides from flashing */
    #slides {
        display:none;
    }
    .slidesjs-navigation{display:none}
    .slidesjs-pagination{display:none}
</style>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    $(function(){
        $("#slides").slidesjs({
            width: 240,
            height: 240,
            play: {
                active: false,
                auto: true,
                interval: 4000,
                swap: true
            },
            navigation: {
                active: false,
                // [boolean] Generates next and previous buttons.
                // You can set to false and use your own buttons.
                // User defined buttons must have the following:
                // previous button: class="slidesjs-previous slidesjs-navigation"
                // next button: class="slidesjs-next slidesjs-navigation"
                effect: "slide"
                // [string] Can be either "slide" or "fade".
            },
            pagination: {
                active: false
            }
        });
    });
</script>
{end:if/}

    <script language="JavaScript">
function showbox(id) {
	document.getElementById("showbox_"+id).style.display = '';
	var showimg = document.getElementById("showimg_"+id);
	if(showimg.alt=='{echo:lp{i_loading_img};/}') {
		ajax("do.php?act=goods_get_imgurl","POST","id="+id,function(data){
			if(data) {
				showimg.src = data;
				showimg.alt = '';
			}
		});
	}
}
function hidebox(id) {
	document.getElementById("showbox_"+id).style.display = 'none';
}
</script>